Source: w3af
Section: net
Priority: extra
Maintainer: Luciano Bello <luciano@debian.org>
Build-Depends: debhelper (>= 5), python-support
Standards-Version: 3.7.3
Homepage: http://w3af.sourceforge.net/
XS-Python-Version: 2.5

Package: w3af
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-json, python-beautifulsoup, python-soappy, python-pypdf, python-pyopenssl, python-pysqlite2, python-pyparsing, python-pydot, graphviz
Description: framework to find and exploit web application vulnerabilities
 W3af, is a Web Application Attack and Audit Framework. W3af core and it's 
 plugins are are fully written in Python. The project has more than 130 
 plugins, which check for SQL injection, cross site scripting (XSS), remote 
 file inclusion and more.

